@use 'variaveis';

.footer{
    padding: 0 5.6vw 2vw 5.6vw;
    background-color: variaveis.$corDeFundo;

    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        img{
            max-width: 100%;
            height: 80px;
        }

        p{
            font-size: 15px;
        }
    }

}