@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    font-family: "Roboto", sans-serif;
    

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }

        &__item {
            list-style: none;

            img {
                max-width: 100%;
                border-radius: 4px;
                width: 630px;
                height: 369px;
                
            }
        
            &__films {
                width: 380px;
                height: 400px;
                list-style: none;
                margin-left: 200px;
                margin-top: 20px;
            }

            p {
                text-transform: uppercase;
                text-align: center;
                font-size: 24px;
                color: variaveis.$corTextoSecundario;
                padding: 20px 0px;
            }

        }
    }

&__tabs {
    display: flex;
    justify-content: center;

    &__button {
        color: variaveis.$corTextoSecundario;
        font-size: 20px;
        border: none;
        padding-bottom: 5px;
        background: none;
        text-transform: uppercase;
        margin: 0 1vw;
        cursor: pointer;
        
    
    &--is-active {
        border-bottom: 5px solid variaveis.$corTextoSecundario;
    }
    }
}

}