@use 'variaveis';

.sobre {
    padding: 2vw 5.6vw;
    background-color: variaveis.$corDeFundo;
    

    &__content {
        display: flex;
        align-items: flex-start;

        &__img {
            max-width: 50%;
            border: 4px solid red;
            border-radius: 8px;
            height: 900px;
            width: auto;
        
        }

        div{
            padding-left: 5%;  

            .title--sobre{
                text-align: center;
                max-width: 100%;
            }

            p {
                padding-top: 15px;
                text-align: justify;
                font-family: "Cinzel", serif;
            }
        }
    }
}