@use 'variaveis';
@use 'hero';
@use 'sobre';
@use 'shows';
@use 'assistir';
@use 'faq';
@use 'footer';
@use 'responsive';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    background-color: variaveis.$corDeFundo;
}


@mixin text($fontSize:16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}


.text--big {
    @include text(18px);
    color: variaveis.$corTextoSecundario
}


.text {
    @include text;
}


.text--small {
    @include text(12px);
}


.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}


.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}


.grid--center{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}