
    @media screen and (max-width: 1024px) {

    // Hero
    .hero {
        margin-bottom: 0;
        background-image: none;
        padding: 0 auto;

        &__content {
        margin: auto;
        max-width: 100%;
        text-align: center;

        &__branding {
        margin: 0 auto;    
        display: flex;
        justify-content: center;

            img {
            margin-top: 20%;
            max-width: 90%;   
            
            
        }
        }
        

        .title {
            margin-top: 20%;
            font-size: 18px;
            
            }
        }
    }

    // Sobre
    .sobre__content {
        flex-direction: column;
        align-items: center;

        &__img {
        max-width: 80%;
        height: auto;
        margin-bottom: 20px;
        }

        div {
        padding-left: 0;

        .title--big img {
            max-width: 70%;
            height: auto;
            display: flex;
            align-items: center;
            margin: 0 auto;
        }

        p {
            font-size: 16px;
            padding-top: 10px;
        }
        }
    }

    .shows {
    padding: 2vw;

    &__list {
        display: none; 

        &--is-active {
            display: grid; 
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            margin-top: 30px;
        }

        &__item {
            img {
                width: 100%;
                height: auto;
            }
        }

        &__item__films {
            width: 100%;
            height: auto;
            margin-left: 0;

            p {
                font-size: 16px;
            }
        }
    }

    &__tabs {
        flex-wrap: wrap;

        &__button {
            font-size: 18px;
            margin: 5px;
        }
    }
}


    
    .ondeassistir__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;

        &__item img {
        margin-left: 15%;
        width: 200px;
        height: auto;
        padding: 20px;
        }
    }

    
    .faq {
        padding: 3vw;

        &__questions &__item &__question {
        font-size: 22px;
        }

        &__questions &__item &__answer {
        font-size: 16px;
        }
    }

    
    .footer__container img {
        max-width: 50%;
        height: auto;
    }

    .footer__container p {
        font-size: 14px;
    }
    }

    
    @media screen and (max-width: 768px) {

    .hero {

        &__content__branding img {
        max-width: 80%;
        }

        .title {
        font-size: 18px;
        }
    }

    .sobre__content {
        &__img {
        max-width: 90%;
        }

        div p {
        font-size: 15px;
        }

        .title--big img {
        max-width: 80%;
        }
    }

    .shows__list {
        grid-template-columns: 1fr;
    }

    .shows__tabs__button {
        font-size: 16px;
    }

    .ondeassistir__list__item img {
        width: 70%;
        max-width: 250px;
    }

    .faq__questions__item__question {
        font-size: 20px;
    }

    .faq__questions__item__answer {
        font-size: 15px;
    }
    }